# Data Science Tools and Ecosystem

In the notebook, Date Science Tools and Ecosystems are summarized

**Objectives:**
  
* Popular languages for data science
* Simple arithemtic expressions
* Create markdown cells
* Data Science Libraries

Some of the most popular languages that data Scientist use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Plotly
3. Keras

| Data Science Tools        |
|---------------------------|
| Jupyter                   |
| VS Code               |
| RStudio               |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [54]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [59]:
(200/60)

3.3333333333333335

## Author
Steven Korowe